body {
    background-image: url('hatter.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.title {
    font-size: 300px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.option {
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.play-button{
    color:white;
    font-size: 50px;
}
.gif {
    width: 600px; /* A gif nagyobb lett */
    margin-top: 20px;
}
